body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

.img{
  display: block;
  max-width: 100%;
  height: auto;}

.container {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .container {max-width: 768px;
  }
}

@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.section {
  padding: 96px 0;
}

@media (min-width: 768px) {
  .section {
    padding: 96px 0;
  }
}

@media (min-width: 1158px) {
  .section {
  padding-top: 120px;
  padding-bottom: 120px;
  }
}


/*================HEADER-LOGO=========================*/

.header-cont {
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 768px;
}
  
}


@media screen and (min-width: 1158px) {
  .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1158px;
}
  
}


.header-navi {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.header-navi-logo span {
  color: #2e2f42;
}

/*===================HEDER-NAVI======================*/

.nav-list {
  display: flex;
  display: none;
}

@media (min-width: 768px) {
  .nav-list{
    display: flex;
  gap: 40px;}
}

@media (min-width: 1158px) {
  .nav-list {
    display: flex;
    gap: 40px;
  }
}

.header-navi-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  cursor: pointer;
  padding: 17px 0;
}

@media (min-width: 768px) {
  .header-navi-logo{margin-right: 120px;}

  @media (min-width:1158px) {
    .header-navi-logo{ 
      margin-right: 76px;}
    
  }

  .header-navi-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    cursor: pointer;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .current {
    position: relative;
    color: #404bbf;
  }
  
  .current::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #404bbf;
  }
  
  .header-navi-link:hover,
  .header-navi-link:focus {
    color: #404bbf;
  }
}





/*====================HEADER-ADDRES==========================*/

.header-addr {
  font-style: normal;
  margin-left: 0 auto;
  display: none;
}

@media (min-width: 768px) {
  .header-addr{display: block;}
}

@media (min-width: 1158px) {
  .header-addr {
    font-style: normal;
    margin-left: 0 auto;
  }
}

.header-addr-list {
  display: flex;
  gap: 40px;
}

@media (min-width: 768px) { 
  .header-addr-list{
    display: flex;
    flex-direction: column;
    gap: 12px;} 
}

@media (min-width: 1158px) { 
  .header-addr-list{
    flex-direction: row;
    gap: 40px;} 
}



.btn-burger-open{ 
  line-height: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

@media (min-width: 768px) {
  .btn-burger-open{
    display: none;
  }

  .header-address {
    color: #434455;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .header-address:hover,
  .header-address:focus {
    color: #404bbf;
  }
}

@media (min-width: 1158px) {.header-address{
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
  
}

/*==========================HERO==========================*/
.hero-backg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


.main-hero {
  display: flex;
  justify-content: center;
  max-width: 320px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 72px;
  padding-bottom: 72px;
  text-align: center;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-mob-1x.jpg);
  padding: 72px 0;
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
  (min-resolution: 2dppx)  {
  .main-hero{
    background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ),
  url(../images/Dark-bg-mob-2x.jpg)}
  
}

@media (min-width: 768px) {
  .main-hero {
    min-width: 768px;
    width: 100%;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-tab-1x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
    (min-resolution: 2dppx)  {
    .main-hero{
      background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-tab-2x.jpg)}
}
}

@media (min-width: 1158px) {
  .main-hero {
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .main-hero{
      background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-2x.jpg)}
}
}

.main-hero-title {
  color: #fff;
  max-width: 216px;
  margin: 0 auto 72px;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .main-hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    text-align: center;
    margin: 0 auto 36px;
  }
}

@media (min-width: 1158px) {
  .main-hero-title {
    margin: 0 auto 48px;
  }
}

.main-hero-btn {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-hero-btn:hover,
.main-hero-btn:focus {
  background: #404bbf;
}

/*===========================MOB-MENU-BURGER========================*/
.mob-menu-burger{
  width:100%;
  height: 100%;
  position: fixed;
  background-color: #fff;
  top:0;
  padding: 24px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.mob-menu-close-btn {
  display: block;
  margin-left: auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #2E2F42;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 24px;
}

.mob-menu-close-btn:hover,
.mob-menu-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.mob-menu-btn-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-close-btn:hover > .mob-menu-btn-svg,
.mob-menu-close-btn:focus > .mob-menu-btn-svg {
  fill: #ffffff;
}


.mob-menu-navi {
  margin-bottom: 40px;
}

.mob-nav-list-li:not(:last-child) {
  margin-bottom: 40px;
}

.mob-menu-navi-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1; 
  letter-spacing: 0.02em;
  text-transform: capitalize;
  cursor: pointer;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-navi-link:hover,
.mob-menu-navi-link:focus
{
  color: #404bbf;
}

.active {color: #404bbf;}

.mob-menu-addr-list {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 24px;
  margin-bottom: 48px;

  
}

.mob-addr-li-list {
  gap: 24px;
}

.mob-menu-address {
  color: #434455;
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
}

.mob-menu-address:hover {color: #404bbf;}

.mob-menu-address:focus {color: #404bbf;}


.mob-menu-ul-team {display: flex;
  gap: 40px;
}

.mob-menu-li-team {
  width: 40px;
  height: 40px;
}


.mob-menu-linc-team {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-linc-team:hover {
  background-color: #404bbf;
}
.mob-menu-linc-team:focus {
  background-color: #404bbf;
}



/*=======================ADVANTAGES=================================*/


/*.cont-advan {
  display: flex;
  margin: 0 auto;
}*/



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-advantages-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

@media (min-width: 768px) {
  .main-advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    row-gap: 72px;
  }
}

@media (min-width: 1158px) {
  .main-advantages-list {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 24px;
  }
}


@media (min-width: 768px) {
  .advantages-li {
    width: calc((100% - 24px) / 2);
  }
}

@media (min-width: 1158px) {
  .advantages-li {
    width: calc((100% - 72px) / 4);
  }
}

.advantages-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.advan-icon-strat {
  display: none;
}

@media (min-width: 1158px) {
  .advan-icon-strat {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
  }
}

.advantages-icon-li {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 264px;
  max-height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  padding: 24px 100px;
  margin-bottom: 8px;
  background-color: #f4f4fd;
}

.main-advantages-strategy {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

@media (min-width: 768px) {
  .main-advantages-strategy {
    text-align: left;
  }
}

@media (min-width: 1158px) {
  .main-advantages-strategy {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
}

.main-advantages-strategy-p {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media (min-width: 1158px) {
  .main-advantages-strategy-p {
    font-weight: 400;
  }
}

/*=====================TEAM===============================*/

.main-team {
  background: #f4f4fd;
}


.main-team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

@media (min-width: 768px) {
  .main-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }
}

@media (min-width: 1158px) {
  .main-team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.team-list-li {
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-item-list {
  padding: 32px 0;
}

.ul-team-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.li-team-icon {
  width: 40px;
  height: 40px;
}

.linc-team-icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.linc-team-icon:hover {
  background-color: #404bbf;
}
.linc-team-icon:focus {
  background-color: #404bbf;
}

.main-team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-title-team {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
  text-align: center;
}

.main-team-text {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.main-team-img {
  display: block;
}

/*===================PORTFOLIO===========================*/

.portfolio {
  padding: 96px 16px;
}


@media (min-width: 1158px) {
  .portfolio {
    padding: 120px 15px;
  }
}

.div-portfolio {
  display: flex;
  flex-direction: column;
}


.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

@media (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
}

@media (min-width: 1158px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
  }
}

.portfolio-title-main {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
    row-gap: 72px;
  }
}

@media (min-width: 1158px) {
  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
  }
}

.portfolio-list-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-jpg-b {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-cover-wrapp {
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cover-text {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-cover-text {
  transform: translateY(0%);
}

.portfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*=================FOOTER============================*/

.footer {
  background: #2e2f42;
  padding: 96px 0;
}

@media screen and (min-width: 768px) {
  .footer{
    padding-top: 96px;
    padding-bottom: 96px;
    padding-left: 92px;
    padding-right: 92px;}
  
}

@media (min-width: 1158px) {
  .footer {
    background: #2e2f42;
    padding: 100px 0;
  }
}

.foot-div-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 72px;
}

@media (min-width: 768px) {
  .foot-div-div {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 72px 24px;
  }
}

@media (min-width: 1158px) {
  .foot-div-div {
    margin: 0 auto;
    align-items: baseline;
    gap: 0;
  }
}

.foot-div {
  max-width: 264px;
}

@media (min-width: 1158px) {
  .foot-div {
    margin-right: 120px;
  }
}



.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; 
  letter-spacing: 0.03em;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 16px;
  display: inline-block;
  
}

@media screen and (min-width: 768px) {
  .footer-logo{display: flex;
  text-align: left;}
  
}

.footer-logo span {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5; 
  letter-spacing: 0.02em;
  text-align: left;
}

.foot-div-list {
  text-align: center;
}

@media (min-width: 1158px) {
  .foot-div-list {
  margin-right: 80px;
  }
}

.footer-social {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
  text-align: center;
}

@media  screen and (min-width: 768px) {
  .footer-social{text-align: left;}
  
}


.icon-list {
  display: flex;
  gap: 16px;
}

.icon-item {
  width: 40px;
  height: 40px;
}

.icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-link:hover,
.icon-link:focus {
  background-color: #31d0aa;
}
/*================SUBSCRIBE-EMAIL=======================*/

.div-subscribe-form {
  display: block;
}


@media (min-width: 1158px) {
  .div-subscribe-form {
    margin-top: 0;
  }
}

.subscribe-text {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

@media (min-width: 768px) {
  .subscribe-text {
    text-align: left;
  }
}


.subscribe-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media (min-width: 768px) {
  .subscribe-email {
    flex-direction: row;
    gap: 24px;
  }
}


@media (min-width: 1158px) {
  .subscribe-email {
    justify-content: center;
    align-items: center;
  }
}




.subscribe-email-input {
  width: 288px;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 768px) {
  .subscribe-email-input{
    width: 264px;}
  
}

.subscribe-email-input::placeholder {
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.sub-btn-sub {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border-radius: 4px;
  background: #4d5ae5;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-btn-sub:hover {
  background-color: #404bbf;
}

.icon-frame-svg {
  margin-left: 16px;
}

/*=======================BACKDROP=========================*/

.backdrop {
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-window {
  width: 288px;
  min-height: 623px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
}


@media screen and (min-width: 768px) {
  .modal-window {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.close-btn-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover > .close-btn-svg,
.close-btn:focus > .close-btn-svg {
  fill: #ffffff;
}

.modal-title {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; 
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-div {
  margin-bottom: 8px;
}

.modal-input-wrap {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  font-size: 12px;
}

.form-input:focus {
  border-color: #4d5ae5;
}

.form-input:focus + .modal-icon-svg {
  fill: #4d5ae5;
}

.modal-div-coment {
  margin-bottom: 16px;
}

.user-textarea {
  width: 100%;
  height: 120px;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
}

.user-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.user-textarea:focus {
  border-color: #4d5ae5;
}

.send-btn {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover,
.send-btn:focus {
  background: #404bbf;
}

.modal-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-icon-svg {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
  margin-bottom: 24px;
}

.check-label {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.user-privacy-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  margin-right: 8px;
}

.modal-checkbox:focus + .check-label span {
  border-color: #4d5ae5;
}


.check-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #4d5ae5;
  text-decoration-line: underline;
  margin-left: 3px;
}

.modal-checkbox {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked + .check-label span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
